@import '@mantine/core/styles.css';

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent; /* Let theme background show through */
}

::-webkit-scrollbar-thumb {
    background: var(--mantine-color-cyan-5);
    border-radius: 10px;
    border: 2px solid transparent; /* Transparent border for padding effect */
    background-clip: padding-box; /* Makes border eat into background */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--mantine-color-cyan-4);
    background-clip: padding-box;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--mantine-color-cyan-5) transparent;
}